* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
--custom-blue: #006aff;

}

body {
  margin: 20px 0px;

}

/* HEADER________________________________________________ */
/* dropdown buttons style in -> dropdown.css  */

header {
  height: 50px;
  /* background-color: yellow; */

  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  place-items: center;
}

header a {
  text-decoration: none;
}

header h-logo {
}

header .h-logo img{
  width: 200px;
}


.mcs {
  margin-left: 15px;
  color: black;
  font-size: 0.9rem;
}


header .h-user-menu {
  color: black;
}


header a:hover {
  color:var(--custom-blue);
}

.h-user-menu .signup {
  color: var(--custom-blue);
  border: 2px solid var(--custom-blue);
  padding: 5px;
  border-radius: 5px;
}

.h-user-menu .signup:hover {
  color: #fff;
  background-color: var(--custom-blue);
}

/* HERO SECTION START____________________________ */
.hero {
  padding: 50px 300px;

  display: grid;
  grid-template-columns: 3.5fr 3fr;
  grid-gap: 50px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("assets/img/hero-background-lines.jpeg");
  background-size: cover;
}

.hero-text {
  display: grid;
  grid-template-rows: 2fr 1.5fr;
}

.hero-text h1 {
  /* background-color: tomato; */
  padding-top: 20px;
  font-size: 3rem;
}

.hero-text small {
  /* background-color: yellow; */
  padding-top: 20px;
  line-height: 25px;

  font-size: 1rem;
}

.hero-form {
  background-color: #fff;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 1.5fr 0.2fr;
  place-items: center;
}

.heading {
  display: grid;
  justify-items: center;
  line-height: px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.heading .blue {
  color: var(--custom-blue);
}

.the-form {
  /* border: 2px solid red; */
  padding: 10px 25px;

  display: grid;
  grid-auto-rows: 40px;
  grid-gap: 10px;
}

.border-r {
  border-radius: 5px;
}

.blue-b {
  background-color: var(--custom-blue);
  color: #fff;
  border: none;
  font-weight: bold;
}

.blue-b:hover {
  background-color: #fff ;
  color:var(--custom-blue);
  border: 2px solid var(--custom-blue);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.google-b {
  background-color: #fff;
  color: black;

  text-decoration: none;
  font-weight: bold;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 30px 250px;
  align-items: center;
}

.google-b span {
  padding-right: 30px;
}

.google-b:hover a {
  /* background-color: var(--custom-blue); */
  color: black;
}

.google-b:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.the-form img {
  width: 35px;
  /* background-color: cyan; */
}

.hero-form p {
  font-size: 0.8rem;
  padding-bottom: 20px;
}


.hero-form a {
  color: var(--custom-blue);
  font-weight: bold;
}

